body{
  font-family: $main-font;
  font-size: 2rem;
  line-height: 2.7;
}

.wrapper{
  max-width: 935px;
  margin: 0 auto;
}

.col-xxs-6{

}

.col-xxs-1, .col-xxs-2, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7,
.col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12{
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 7px;
}
