#mainForm{
  .mainForm__container{
    background: #e2e2e2;
    padding: 10px;
    border-radius: 7px;
    }
  .control-label{
    line-height: 1;
    margin: 0;
    font-size: 1.6rem;
    @media(min-width: $screen-xs){
      font-size: 2rem;
      }
  }
  .mainForm__title{
    font-size: 2rem;
    @media(min-width: $screen-xs){
      font-size: 2.8rem;
      }
  }
  .mainForm__img{
    padding: 2px auto;
    }
}
