#myNavbar{
  background: linear-gradient(90deg, #1a64a3, #052642);

  .myNavbar__rowTop{
    color: #fff;
    font-size: 1.5rem;
    }
  .myNavbar__social{
    color: #fff;
    float: right;
    border: 1.6px solid #fff;
    padding: 5px;
    margin: 3px;
    margin-top: 9px;
    border-radius: 50%;
    font-size: 1.1rem;
    }
  .fa-facebook{
      padding: 5px 7px;
      }
  .myNavbar__line{
    border-top: 2px solid #eee;
    clear: both;
    margin: 1px;
    }
  .myNavbar__brand{
    padding: 5px;
    text-transform: uppercase;
    font-size: 5rem;
    text-shadow: -2px 1px 4px darken($brand-primary, 80%);
    }

    .myNavbar__brand_subtitle{
      font-size: 2.5rem;
      border-top: 1px solid;
      line-height: 2.6;
      letter-spacing: .4rem;
      border-bottom: 1px solid;
      text-shadow:none;
      }

      .myNavbar__brand_subtitle2{
        font-size: 1.6rem;
        text-transform: none;
        float: right;
        color: #f7f7f7;
        margin-top: 5%;
        }

    .myNavbar__logo_img{
      display: inline-block;
      transform: translateY(-3%);
      height: 93%;
      margin-left: 10px;
      }

  .myNavbar__logoRow{
    height: 92px;
    padding-top: 10px;
    }

    .myNavbar__items{
      text-transform: uppercase;
      padding: 9px 10px 7px 10px;
    }
}
