#myNavbar{
  background: linear-gradient(90deg, #1a64a3, #052642);

  .myNavbar__rowTop{
    color: #fff;
    }
  .myNavbar__social{
    color: #fff;
    float: right;
    border: 2px solid #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    }
  .myNavbar__line{
    border-top: 2px solid #eee;
    clear: both;
    }
  .myNavbar__brand{
    padding: 5px;
    }

  .myNavbar__logoRow{

    }

  .myNavbar__items{
      text-transform: uppercase;
      padding: 9px 10px 7px 10px;
    }
}
