#myNavbar{

  .myNavbar__line{
    border-top: 2px solid #eee;
    }
  .myNavbar__brand{
    padding: 5px;
    }

  .myNavbar__logoRow{

    }

  .myNavbar__items{
      text-transform: uppercase;
      padding: 9px 10px 7px 10px;
    }
}
